fastapi==0.109.0
uvicorn[standard]==0.27.0
praat-parselmouth==0.4.3
librosa==0.10.1
pyAudioAnalysis==0.3.14
numpy==1.24.3
scipy==1.11.4
soundfile==0.12.1
hmmlearn
matplotlib
eyed3
pydub
imbalanced-learn



